/* Footer principal */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.footer {
  margin-top: 5%;
  color: white;
  background-color: #0B221D;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 10px;
  font-family: 'Montserrat', sans-serif;
  height: 230px;
}

/* Sección del logo */
.footer-logo img {
  width: 260px;
  height: auto;
}

.footer-title {
  font-size: 1.5rem;
  margin-top: 10px;
}

/* Encabezados */
.footer-heading {
  margin-left: 10%;
  text-align: start;
  justify-self: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 1.1rem;
}

.footer-section {
  width: 30%;
  padding: 5px;
  justify-items: center;
  justify-self: center;
  max-width: 300px;
}

/* Enlaces */
.footer-links {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  list-style: none;
  padding: 0;
  justify-self: center;
  width: 80%;    
  text-decoration: none;
  color: white;
}

.p-footer {
  margin-left: 10%;
  text-align: left;
  font-size: 0.8rem;
  justify-self: left;
}

.a-footer {
  text-decoration: none;
}

.p-footer a {
  color: white;   
}

.footer-links li {
  text-align: left;
  margin-bottom: 5px;
  cursor: pointer;
  justify-self: left;
}
.Denuncia a{
  text-decoration: none;
  color: white;
}
.Denuncia {
  font-size: 15px;
 
}

/* Social Media */
.siguenos {
  justify-self: left;
  margin-left: 10%;
}

.siguenos h4 {
  font-weight: 100;
  font-size: 1.1rem;
}

.footer-social span {
  justify-content: left;
  text-align: justify;
  justify-self: left;
  font-size: 1.5rem;  
}

.footer-social {
  justify-self: left;
}

.logored {
  height: 24px;
}

/* Decoración de textura */
.footer-decor {
  width: 100%;
  height: 47px;
  background-image: url('../FondoVerde.png'); /* Ajusta la ruta según corresponda */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Espacio color crema */
.footer-cream-space {
  background-color: #e3cea4e9;
  height: 12px;
}

@media (max-width: 1199px) {
  .footer {
    margin-top: 10%;
    color: white;
    background-color: #0B221D;
    
          min-width: 1093px;
          max-width: 1199px;
  }
  
  .footer-content {
    margin: 5%;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    height: 230px;
    width: 84%;
  }
  
  /* Sección del logo */
  .footer-logo img {
    width: 210px;
    height: auto;
  }
  
  .footer-title {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  
  /* Encabezados */
  .footer-heading {
  
    text-align: start;
    justify-self: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100; /* Ajustar peso según lo necesites (400 es regular) */
    font-size: 1.1rem; /* Ajustar tamaño de letra */
}

  .footer-section{
    width: 30%;
    padding: 0px;
    justify-items: center;
    justify-self: center;
  }
  /* Enlaces */
  .footer-links {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    list-style: none;
    padding: 0;
    justify-self: center;
    text-align: center;
    width: 80%;    
  }
  .p-footer{
  
    text-align: left;
    font-size: 0.8rem;
    justify-self: left;
  }
  .a-footer{
    text-decoration: none;
  }
  .p-footer a{
    color: white;   
  }
  .footer-links li {
    text-align:left;
    margin-bottom: 5px;
    cursor: pointer;
    justify-self: left;
  }
  .Denuncia{
    font-size: 15px;
  }
  /* Social Media */
  .siguenos{
    justify-self: left;
    
  }
  .siguenos h4{
   font-weight: 100;
   font-size: 1.1rem;
  }
  .footer-social span {
    justify-content: left;
    text-align: justify;
    justify-self: left;
    font-size: 1.5rem;  
 
  }
  .footer-social{
    justify-self: left; /*GOD */
  }
  .logored{
   height: 24px;
  }
  
  /* Decoración de textura */
.footer-decor {
  width: 100%;
  height: 47px;
  background-image: url('../FondoVerde.png');
  background-repeat: no-repeat;
  background-size: cover; /* Ajusta el fondo para cubrir todo el ancho */
  background-position: center; /* Centra la imagen en el espacio disponible */
  
}

/* Espacio color crema */
.footer-cream-space {
  background-color: #e3cea4e9;
  height: 12px;
  
}
}
@media (max-width: 990px) {
  .footer {
    margin-top: 30%;
    color: white;
    background-color: #0B221D;
          min-width: 1093px;
          max-width: 1199px;
  }
}